/* Reset */

* {
    /* Alternative box model */
    box-sizing: border-box;

    /* Reset padding and margin */
    padding: 0;
    margin: 0;
    
}

#logo {
    width: 12rem;
    margin-top: -85px;
}

/* Typography */
html {
    font-size: 18px;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.55;
    color: rgb(60, 58, 71);
    
}

h1 {
    font-size: 3.15rem;
    font-weight: 700;
    letter-spacing: -2px;
    color: rgb(121, 80, 75);
}

h2 {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: -1px;
    color: rgb(60, 58, 71, .8);
}

h3 {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 2rem;
}

h3.large {
    font-size: 3.15rem;
}

.dark h3 {
    color: rgb(255, 255, 255);
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

p.section-intro {
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.dark p.section-intro {
    color: rgb(255, 255, 255, 0.8);
}

p.number {
    font-size: 2.4rem;
    font-weight: 200;
    color: rgb(60, 58, 71, .5);
}

p.large {
    font-size: 1.75rem;
    font-weight: 200;
    letter-spacing: -1px;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(121, 80, 75);
    cursor: pointer;
}

a:hover {
    color: rgb(60, 58, 71);
    cursor: pointer;
}

form input, form textarea, form button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.55;
}

/* Container */
.container {
    width: 85%;
    margin: 0 auto;
}

.container.small {
    width: 60%;
    max-width: 35rem;
}

/* Header */
#main-header,section {
    padding: 13rem 0;
    text-align: center;
}

#main-header h1 {
    margin: 7rem 0 1rem;
}

#main-header h2 {
    margin-bottom: 7rem;
}

.btn {
    padding: 1.3rem 3.5rem;
    border: 1px solid rgb(121, 80, 75);
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color:rgb(71, 47, 44);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

/* Chair section */

#our-chairs {
    background-color: rgb(238, 228, 226);
}

section header {
    margin-bottom: 3.5rem;
}


h3 + p {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.5rem;
    margin-bottom: 3.5rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.gallery div {
    text-align: start;
}

.gallery img {
    margin-bottom: 1.3rem;
}

h3 {
    color: rgb(121, 80, 75);
}

.gallery h3 {
    margin-bottom: 1rem;
    color: rgb(71, 47, 44);
}

/* Contact */

.dark {
    background-color: rgb(71, 47, 44);
}

.dark label {
    color: rgb(255, 255, 255, .8);
}

form div {
    margin-bottom: 1.75rem;
}

form label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
    margin-bottom: 0.5rem;
}

form input, form textarea{
    background-color: rgba(255, 255, 255, .1);
    border: none;
    padding: 1rem;
    width: 100%;
    color: rgb(255, 255, 255);
    resize: none;
}

form input:focus, form textarea:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.dark .btn {
    background-color: rgb(71, 47, 44);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 100%;
    cursor: pointer;
}

.dark .btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(71, 47, 44);
    cursor: pointer;
}

p.muted {
    color: rgb(255, 255, 255, .5);
}

form button + p {
    margin-top: 1.75rem;
}

/* Visit Store */

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

}

p.large + .social-icons {
    margin-top: 7rem;
}

footer {
    padding: 5rem 0;
}

footer p {
    text-align: center;
}

/* Responsive */

@media screen and (max-width: 600px) {
    h1,h3.large {
        font-size: 2.3rem;
    }

    h2,p.large {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.8rem; 
    }

    .container.small {
        width: 85%;
    }

    #main-header, section {
        padding: 6rem 0;
    }

    footer {
        padding: 2.5rem 0;
    }

    p.large + .social-icons {
        margin-top: 3.5rem;
    }
    
    #main-header h1 {
        margin: 3.5rem 0 1rem;
    }

}

@media screen and (max-width: 800px) {
    .gallery {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

        #main-header .btn {
        visibility: hidden;
    }

    #main-header .btn::before {
        padding: 1.3rem 3.5rem;
        border: 1px solid rgb(121, 80, 75);
        font-weight: 700;
        cursor: pointer;
        width: 80%;

        content: 'Discover';
        visibility: visible;
    }

    #main-header .btn:hover:before {
        background-color:rgb(71, 47, 44);
        color: white;
        transition: 0.5s;
        cursor: pointer;
    }

}
